# Data (giữ folder, bỏ file)
data/raw/*
data/processed/*

# Nhưng vẫn giữ file placeholder
!data/raw/.gitkeep
!data/processed/.gitkeep

# Không push file lớn
*.zip

# Python
venv/
__pycache__/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/